$color-primary:rgba(0,150,136,1);
$color-secondary:rgba(255,183,77 ,1);
$color-third:rgba(255,235,238 ,1);
$color-fourth:rgba(78,52,46 ,1);

@mixin first-gradient{
       background-size: 100%;
       background: -webkit-gradient(linear, left top, left bottom, from(orange), to(blue));
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
    }

@mixin second-gradient{
       background-size:100%;
       background: -webkit-gradient(linear, left top, left bottom, from(darkblue), to(blue));
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
    }

@mixin third-gradient{
       background-size: 100%;
       background: -webkit-gradient(linear, left top, left bottom, from(darkgreen), to(lightgreen));
       background-clip:text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
}

