@media screen and (max-width:576px){
    .row{flex-direction: column;}
    .menus{padding:35px;}     
    header{height:100px;}
    header h1{font-size:50px;}
    footer a {text-align: center;}
    
}

