@import"config";
@import"responsive";
@import"menus-layout";
@import"animation";

body{margin:0;
    font-family:sans-serif;}

#page{
   min-height:100vh;
}

.carte{padding:35px;
      
}

header{
   background-color:$color-primary;
   height:150px;
   display: flex;
   justify-content: center;
   align-items:center;
   h1{color:$color-secondary;
      font-size:55px;
      font-family: 'Montserrat', sans-serif;}
}

main{
   display: flex;
   flex-direction: column;
   margin-bottom:150px;
   .row{display: flex;
       justify-content: space-evenly;}
       .menu{
           box-shadow:0px 0px 5px 6px #f1f1f1;
           padding:35px;
           margin-top:50px;
           height:420px;
           flex-basis:25%;}
           a{display:flex;
             flex-direction: column;
             height:100%;
             justify-content: center;
             align-items:center;
             text-decoration:none;
             font-size:20px;
             }
             h2{text-align: center;}
             button{align-self: center;
                    width:300px;
                    height:90px;
                    border:none;
                    background-color:rgba(0,150,136,1) ;
                    font-size:30px;
                    color:$color-secondary;
                    border-radius:20px;
                    margin-top:50px;
                    font-family: 'Montserrat', sans-serif;}
}

footer{
   background-color:$color-primary;
   height:100px;
   display:flex;
   align-items:center;
   justify-content: space-around;
   position:fixed;
   bottom:0;
   width:100%;
   a{display: flex;
     text-decoration: none;
     font-size:25px;
     color:$color-secondary;
     font-family: 'Montserrat', sans-serif;
     &:hover {
      animation-name: wiggle;
      animation-duration: 0.4s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
   }
  }

   .second{
      a,h2,h3{@include first-gradient;
           font-family: 'Croissant One', cursive;
           font-size:35px;}
           h3{font-size:30px;}
      }
    
    .third{
      a,h2,h3{@include second-gradient;
           font-family: 'Dancing Script', cursive;  
           font-size:50px;}
         }
    
    .fourth{
      a,h2,h3{@include third-gradient;
           font-family: 'Kaushan Script', cursive;
           font-size:45px;}
         }
      
  .shape3{
      width:300px;
      height:8px;
      border-bottom-left-radius:100%;
      background: -webkit-gradient(linear, left top, left bottom, from(darkblue), to(blue));
          }
  .shape4{
      width:300px;
      height:8px;
      border-bottom-right-radius:100%;
      background: -webkit-gradient(linear, left top, left bottom, from(darkblue), to(blue));;
          }

  
    .shape{
      clip-path: polygon(31% 49%, 71% 47%, 100% 49%, 100% 55%, 60% 55%, 0 55%, 1% 47%);
      width:300px;
      height: 100px;
      background-color:$color-fourth;
    }

    .shape5{
      clip-path: polygon(31% 49%, 71% 47%, 100% 49%, 100% 55%, 60% 55%, 0 55%, 1% 47%);
      width:300px;
      height: 100px;
      background: -webkit-gradient(linear, left top, left bottom, from(darkgreen), to(lightgreen));
    }
  
    

   
