.page1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page1 h2 {
  font-size: 40px;
}

header a {
  text-decoration: none;
}

.carte {
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 5px 6px #f1f1f1;
          box-shadow: 0px 0px 5px 6px #f1f1f1;
  width: 75%;
}

.carte h3, .carte h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

i {
  font-size: 60px;
  margin-bottom: 15px;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 45px 0 45px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first {
  background-color: #ffebee;
}

.first a, .first h3 {
  font-family: 'Devonshire', cursive;
  color: #4e342e;
  font-size: 35px;
}

@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes wiggle {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@-webkit-keyframes dot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
}

#page {
  min-height: 100vh;
}

.carte {
  padding: 35px;
}

header {
  background-color: #009688;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #ffb74d;
  font-size: 65px;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 150px;
}

main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .menu {
  -webkit-box-shadow: 0px 0px 5px 6px #f1f1f1;
          box-shadow: 0px 0px 5px 6px #f1f1f1;
  padding: 35px;
  margin-top: 50px;
  height: 420px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

main a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 20px;
}

main h2 {
  text-align: center;
}

main button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 300px;
  height: 90px;
  border: none;
  background-color: #009688;
  font-size: 30px;
  color: #ffb74d;
  border-radius: 20px;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

main button span {
  -webkit-animation-name: dot;
          animation-name: dot;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

main button span:nth-child(2) {
  -webkit-animation-delay: 330ms;
          animation-delay: 330ms;
}

main button span:nth-child(3) {
  -webkit-animation-delay: 660ms;
          animation-delay: 660ms;
}

footer {
  background-color: #009688;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 30px;
  color: #ffb74d;
  font-family: 'Montserrat', sans-serif;
}

footer a:hover {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.second a, .second h2, .second h3 {
  background-size: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(orange), to(blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Croissant One', cursive;
  font-size: 35px;
}

.second h3 {
  font-size: 30px;
}

.third a, .third h2, .third h3 {
  background-size: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(darkblue), to(blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.fourth a, .fourth h2, .fourth h3 {
  background-size: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(darkgreen), to(lightgreen));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kaushan Script', cursive;
  font-size: 45px;
}

.shape3 {
  width: 350px;
  height: 8px;
  border-bottom-left-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(darkblue), to(blue));
}

.shape4 {
  width: 350px;
  height: 8px;
  border-bottom-right-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(darkblue), to(blue));
}

.shape {
  -webkit-clip-path: polygon(31% 49%, 71% 47%, 100% 49%, 100% 55%, 60% 55%, 0 55%, 1% 47%);
          clip-path: polygon(31% 49%, 71% 47%, 100% 49%, 100% 55%, 60% 55%, 0 55%, 1% 47%);
  width: 300px;
  height: 100px;
  background-color: #4e342e;
}

.shape5 {
  -webkit-clip-path: polygon(31% 49%, 71% 47%, 100% 49%, 100% 55%, 60% 55%, 0 55%, 1% 47%);
          clip-path: polygon(31% 49%, 71% 47%, 100% 49%, 100% 55%, 60% 55%, 0 55%, 1% 47%);
  width: 300px;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(darkgreen), to(lightgreen));
}

.menu a {
  -webkit-transition: 400ms;
  transition: 400ms;
  opacity: 1;
}

.menu a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

h4 {
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menus {
    padding: 35px;
  }
  footer a {
    text-align: center;
    font-size: 25px;
  }
  p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0;
  }
  header {
    height: 100px;
  }
  header h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */