$color-primary: rgba(0, 150, 136, 1);
$color-secondary: rgba(255, 183, 77, 1);
$color-third: rgba(255, 235, 238, 1);
$color-fourth: rgba(78, 52, 46, 1);
$color-menu2-1: rgb(198, 116, 18);
$color-menu2-2: rgb(165, 103, 153);
$color-menu2-3: rgb(110, 76, 204);
$color-menu3: rgb(13, 13, 243);
$color-menu4: rgb(0, 128, 0);
