@mixin first-gradient{
    background-size: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(orange), to(blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

@mixin second-gradient{
    background-size:100%;
    background: -webkit-gradient(linear, left top, left bottom, from(darkblue), to(blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

@mixin third-gradient{
    background-size: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(darkgreen), to(lightgreen));
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin underline{
    // Pour que le sous ligné ne fasse pas toute la largeur de la page !
    margin-left: auto;// Pour le centrer
    margin-right: auto;// Pour le centrer
    font-weight: bold;
    text-align: center;
    bottom: 38px;
    right: 7px;
    background-position: 0% 100%;// Pour effet sousligné
    background-repeat: no-repeat;// Pour effet sousligné
    background-size: 0% 5px;// Pour effet sousligné
    transition: background-size .4s;// Pour effet sousligné
    &:hover {// Pour effet sousligné
      background-size: 100% 5px;}// Pour effet sousligné
    }
